

/* Dodajte novu klasu "custom-btn" gumbu odjave */
button.logout.custom-btn {
    font-size: 14px;
    padding: 5px 0; /* Ažurirajte padding za vertikalni centar */
    width: 100px; /* Postavite širinu na 100 piksela */
    margin: 0 auto; /* Centriranje */
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Osigurajte da je element blok kako bi se primijenilo margin: 0 auto; */
}

button.logout.custom-btn:hover {
    background-color: darkred;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text],


textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button,
.custom-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover,
.custom-btn:hover {
    opacity: 0.8;
}



img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    padding-left: 150px;
    padding-right:150px;
}

