/* message.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.message {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

.message strong {
    font-size: 18px;
    color: #333;
}

.message p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.no-messages {
    font-size: 18px;
    color: #555;
}