body::before {
    display: block;
    content: '';
    height: 60px;
}


.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h2 {
    color: #333;
    margin-bottom: 10px;
}

.article img {
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.article p {
    color: #666;
    text-align: center;
}